{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="navbar">
        <span>글 작성</span>
    </div>
    <div id="post-add">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <divW>
                <label>제목</label>
                <input name = 'title' type="text">
            </divW>
            <div>
                <label>내용</label>
                <textarea name="content" cols="50" rows="20"></textarea>
            <div>
                <label>썸네일</label>
                <input name="thumbnail" type="file">
            </div>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
    </div>
</body>
</html>